<script>
  import { onMount } from "svelte";
  import { writable, get } from "svelte/store";
  import { ready, params, url, isActive } from "@sveltech/routify";
  import { user, identifier, api } from "../../../stores/authentication.js";

  import moment from "moment";

  import Spinner from "../../../components/layout/Spinner.svelte";
  import Comment from "../../../components/Comment.svelte";
  import Notification from "../../../components/layout/Notification.svelte";
  import NotificationType from "../../../type/NotificationType.js";

  const { id, slug } = $params;

  $: comments = [];

  let comment;
  let replyingTo;
  let parent;

  let errorMessage;

  let voted = false;

  onMount(async () => {
    getViewCount();
  });

  const getViewCount = async () => {
    try {
      const response = await api({
        method: "POST",
        url: `/posts/${id}/views`
      });
    } catch (error) {
      throw new Error(error.response.data.message);
    }
  };

  const getPost = async () => {
    const response = await api({
      method: "GET",
      url: `/posts/${id}/${slug}`
    });
    const data = await response.data;

    if (response.statusText === "OK") {
      comments = data.comments;
      return data;
    } else {
      throw new Error(data);
    }
  };

  const handleReplyEvent = event => {
    replyingTo = event.detail.user;
    parent = event.detail.id;
  };

  const handleSubmit = async () => {
    if ($user) {
      try {
        const response = await api({
          method: "POST",
          url: `/comments`,
          data: {
            body: comment,
            parentId: parseInt(parent),
            postId: parseInt(id),
            userId: $identifier.id
          }
        });
        comments = [...comments, await response.data];
        document.querySelector("#commentTextArea").value = "";
      } catch (error) {
        errorMessage = error.response.data.message
          ? error.response.data.message
          : error.response;
      }
    }
  };
</script>

<style>
  .btn {
    @apply bg-gray-800
           text-white text-sm py-2 px-4 font-semibold rounded h-10;
  }

  .btn:hover {
    @apply bg-gray-700;
  }

  .btn:disabled {
    @apply bg-gray-400;
  }
</style>

<div class="container w-full md:max-w-4xl mx-auto px-4 sm:px-0 mt-20">
  {#await getPost()}
    <div class="w-full flex justify-center items-center">
      <Spinner />
    </div>
  {:then data}
    <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
      <div class="font-sans">
        <span class="text-base md:text-sm text-gray-800 font-bold">
          ←
          <span>
            <a
              href={$url('/')}
              class="text-base md:text-sm text-gray-800 font-bold no-underline">
              BACK TO BLOG
            </a>
          </span>
        </span>
        <h1
          class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2
          text-3xl md:text-4xl">
          {data.title}
        </h1>
        <div
          class="w-full inline-flex items-baseline {data.tags.length != 0 ? 'justify-between' : 'justify-start'}">
          {#if data.tags}
            <div class="inline-flex items-center">
              {#each data.tags as tag}
                <div
                  class="flex justify-start items-center cursor-pointer text-xs
                  text-gray-700 hover:text-white bg-gray-200 hover:bg-gray-700
                  rounded-md mr-2 mt-4 sm:mt-0 px-2 py-1">
                  <span class="bg-gray-600 h-2 w-2 rounded-full" />
                  <a
                    class="font-medium tracking-normal pl-2 pr-1"
                    href={$url(`/tags/${tag.slug}`)}>
                    {tag.slug}
                  </a>
                </div>
              {/each}
            </div>
          {/if}
          <p class="text-sm font-normal text-gray-600">
            Published {moment(data.createdAt, 'YYYY/MM/DD HH:mm').fromNow()}
          </p>
        </div>
      </div>

      <div class="flex w-full items-center justify-between my-8">
        <div class="inline-flex items-center">
          <img
            class="w-10 h-10 rounded-full mr-4"
            src="/images/avatar.svg"
            alt="Avatar of Author" />
          <p
            class="text-gray-800 font-medium text-base md:text-xl leading-none
            mb-2">
            {data.user.username}
          </p>
        </div>
        <button
          class="bg-transparent bg-gray-800 text-xs text-white font-bold py-2
          px-4 rounded-full">
          Read more
        </button>
      </div>

      <hr class="border" />

      <p class="mt-10 text-justify text-base leading-relaxed text-gray-700">
        {@html data.content}
      </p>

      <hr class="border-blue my-10" />

      <div class="bg-white mx-auto my-8 border px-3 py-3">
        <div class="mx-4 pb-2 my-3 border-b">
          <h1 class="text-base font-medium text-gray-700">Comments</h1>
        </div>
        {#each comments as comment (comment.id)}
          <Comment on:reply={handleReplyEvent} {comment} {voted} />
        {:else}
          <p class="px-4 py-4 text-base text-gray-600">
            There are no comments.
          </p>
        {/each}
      </div>

      <div class="bg-white mx-auto my-8 border px-3 py-3">
        <div class="mx-4 pb-2 mt-3 border-b">
          <h1 class="text-base font-medium text-gray-700">Compose</h1>
        </div>
        {#if $user}
          <form on:submit|preventDefault={handleSubmit} novalidate>
            <div class="px-4 py-4">
              {#if errorMessage}
                <Notification
                  type={NotificationType.ERROR}
                  description={errorMessage} />
              {:else if replyingTo}
                <p class="text-sm mb-5 text-gray-600">
                  Replying to @{replyingTo}
                </p>
              {/if}
              <textarea
                id="commentTextArea"
                class="w-full rounded text-base focus:outline-none p-2
                form-input text-gray-600 "
                placeholder="Enter your comment here..."
                bind:value={comment} />
              <div class="flex justify-end items-center mt-2">
                <button
                  type="submit"
                  class="py-2 px-4 text-sm btn"
                  disabled={!comment}>
                  Submit
                </button>
              </div>
            </div>
          </form>
        {:else}
          <div class="mx-4 my-4 text-base font-medium text-gray-600">
            Please
            <a href={$url('/login')} class="text-blue-500">login</a>
            to post comments.
          </div>
        {/if}
      </div>

    </div>
  {:catch error}
    <div class="inline-flex justify-center w-full text-gray-700 px-5 py-5">
      <p>Failed to load post data. Please try again.</p>
    </div>
  {/await}
</div>
