<script>
  import { url } from "@sveltech/routify";
</script>

<div class="flex items-center h-screen">
  <div
    class="w-full sm:w-3/4 md:w-3/5 lg:w-2/5 max-w-xs mx-auto px-6 md:px-0
    lg:-mt-32 relative">
    <span
      class="absolute -mt-10 text-5xl inset-x-0 text-center pointer-events-none">
      🧐
    </span>
    <section class="bg-gray-100 mx-auto px-8 py-6 rounded shadow-md relative">
      <h1 class="text-lg text-gray-700 font-semibold mb-4">Page not found</h1>
      <p class="mb-4 text-sm text-gray-600">
        Looks like you've followed a broken link or entered a URL that doesn't
        exist on this site.
      </p>
      <a
        href={$url('/index')}
        class="text-base text-gray-800 hover:text-gray-600 transition-color
        duration-300 active">
        ← Back to our site
      </a>
    </section>
  </div>
</div>
