<script>
  import { url, isActive, ready, goto } from "@sveltech/routify";
  import { user, groups, logout } from "../stores/authentication.js";

  import Navbar from "../components/navigation/Navbar.svelte";
  import NavbarItem from "../components/navigation/NavbarItem.svelte";
  import NavbarButton from "../components/navigation/NavbarButton.svelte";
  import NavbarDropdown from "../components/navigation/NavbarDropdown.svelte";
  import NavbarDropdownItem from "../components/navigation/NavbarDropdownItem.svelte";

  const navigation = [
    ["/index", "Home"]
    // ["/categories", "Categories"],
    // ["/tags", "Tags"]
  ];

  const handleLogout = () => {
    logout();
    $goto("/index");
  };
</script>

<style global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .form-label {
    @apply block text-gray-700 text-sm font-semibold tracking-normal
            mb-2;
  }

  .form-input {
    @apply text-sm bg-gray-100 appearance-none rounded
            w-full py-2 px-3 text-gray-700 mb-1 leading-tight
            h-10;
  }

  .form-input:focus {
    @apply bg-gray-200 outline-none;
  }

  .form-submit {
    @apply w-full bg-gray-800
            text-white text-sm py-2 px-4 font-semibold rounded h-10;
  }

  .form-submit:hover {
    @apply bg-gray-700;
  }

  .form-submit:disabled {
    @apply bg-gray-400;
  }
</style>

<Navbar title="Blog">
  {#each navigation as [path, name]}
    <NavbarItem title={name} url={$url(path)} active={$isActive(path)} />
  {/each}

  {#if $user && $groups.includes('Admin')}
    <NavbarButton title="Admin" url={$url('/admin')} />
  {/if}

  {#if $user}
    <NavbarDropdown title={$user.username}>
      <NavbarDropdownItem title="Log out" event={handleLogout} />
    </NavbarDropdown>
  {:else}
    <NavbarButton title="Log in" url={$url('/login')} />
    <NavbarButton title="Sign up →" url={$url('/register')} />
  {/if}
</Navbar>
<slot />
