<script>
  import { onMount } from "svelte";
  import { url } from "@sveltech/routify";
  import { user, groups, api } from "../stores/authentication.js";

  import Spinner from "../components/layout/Spinner.svelte";
  import BlogItem from "../components/BlogItem.svelte";

  let posts = [];
  let filter = undefined;

  let isError;

  $: filtered = filter
    ? posts.filter(({ tags }) => tags.some(({ slug }) => slug === filter))
    : posts;

  onMount(() => {
    getPosts();
  });

  const getPosts = async () => {
    try {
      const response = await api({
        method: "GET",
        url: `/posts?size=10`
      });

      posts = await response.data;
    } catch (error) {
      isError = true;
    }
  };

  const getTags = async () => {
    const response = await api({
      method: "GET",
      url: `/tags`
    });

    return await response.data;
  };

  const selectFilter = tag => {
    filter = tag;
  };

  const resetFilter = () => {
    filter = undefined;
  };
</script>

<style>
  .btn {
    @apply bg-gray-800
           text-white text-sm py-2 px-4 font-semibold rounded h-10;
  }

  .btn:hover {
    @apply bg-gray-700;
  }

  .tag {
    @apply flex justify-start cursor-pointer text-gray-700 rounded-md px-2 py-2 my-2;
  }

  .tag:hover {
    @apply bg-gray-200;
  }

  .tag-active {
    @apply flex justify-start cursor-pointer text-gray-700 font-semibold rounded-md px-2 py-2 my-2 bg-gray-200;
  }

  .tag-icon {
    @apply bg-gray-400 h-2 w-2 m-2 rounded-full;
  }

  .tag-icon-active {
    @apply bg-green-400 h-2 w-2 m-2 rounded-full;
  }
</style>

<div class="container w-full flex flex-wrap mx-auto h-screen px-6 pt-4 lg:pt-8">
  <div class="w-full lg:w-1/4 text-sm text-gray-800 pr-10 leading-normal">
    {#if $user && $groups.includes('Admin')}
      <a class="btn block w-full mt-6 text-center" href={$url('/posts/create')}>
        Create post
      </a>
    {/if}
    <p class="text-sm font-bold my-6 text-gray-700 uppercase tracking-wider">
      Tags
    </p>
    <div
      class="w-full sticky inset-0 lg:block my-6 z-20 flex flex-row flex-wrap"
      style="top:6rem;"
      id="menu-content">
      <div
        class="tag"
        on:click={resetFilter}
        class:tag-active={filter == undefined}>
        <span class="tag-icon" class:tag-icon-active={filter == undefined} />
        <div class="tracking-normal px-2">All</div>
      </div>
      {#await getTags()}
        <p class="text-sm tex-gray-700">Loading tags...</p>
      {:then tags}
        {#each tags as tag}
          <div
            class="tag"
            on:click={() => selectFilter(tag.slug)}
            class:tag-active={filter == tag.slug}>
            <span class="tag-icon" class:tag-icon-active={filter == tag.slug} />
            <div class="tracking-normal px-2">{tag.slug}</div>
          </div>
        {/each}
      {/await}
    </div>
  </div>

  <section class="w-full lg:w-3/4" data-routify="scroll-lock">
    {#each filtered as item (item.slug)}
      <BlogItem unique={{ id: item.id, slug: item.slug }} {item} />
    {:else}
      {#if isError}
        <div class="w-full flex justify-center my-32 text-gray-700">
          <p>Failed to load post data. Please try again.</p>
        </div>
      {:else}
        <div class="w-full flex justify-center mt-20">
          <Spinner />
        </div>
      {/if}
    {/each}
  </section>
</div>
