<script>
  import { onMount } from "svelte";
  import { goto, url } from "@sveltech/routify";
  import { login, user } from "../stores/authentication.js";

  import Notification from "../components/layout/Notification.svelte";
  import NotificationType from "../type/NotificationType.js";

  let username;
  let password;

  let errorMessage;

  onMount(() => {
    if ($user) $goto("/");
  });

  const handleSubmit = async () => {
    if (!$user) {
      try {
        await login(username, password);
        $goto("/");
      } catch (error) {
        errorMessage = error.message;
      }
    }
  };
</script>

<div class="container mx-auto h-screen mt-6 md:mt-24">
  <div class="max-w-md mx-auto flex bg-white rounded shadow-sm overflow-hidden">
    <div class="w-full p-8">
      {#if errorMessage}
        <Notification
          type={NotificationType.ERROR}
          description={errorMessage} />
      {/if}
      <form on:submit|preventDefault={handleSubmit} novalidate>
        <h1 class="text-2xl text-gray-800 tracking-normal font-bold">
          Sign in to your account
        </h1>
        <div>
          <span class="text-gray-600 text-sm tracking-normal">
            Don't have an account?
          </span>
          <a
            class="text-gray-700 text-sm font-semibold tracking-normal
            hover:underline"
            href={$url('/register')}>
            Sign up
          </a>
        </div>
        <div class="mb-4 mt-6">
          <label class="form-label" for="username">Username</label>
          <input
            class="form-input"
            id="username"
            type="text"
            bind:value={username}
            placeholder="Enter your username" />
        </div>
        <div class="mb-6 mt-6">
          <label class="form-label" for="password">Password</label>
          <input
            class="form-input"
            id="password"
            type="password"
            bind:value={password}
            placeholder="Enter your password" />
        </div>
        <div class="flex w-full mt-8">
          <button
            class="form-submit"
            type="submit"
            disabled={!username || !password}>
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
