<script>
  import { onMount } from "svelte";
  import { goto } from "@sveltech/routify";
  import { user, register } from "../stores/authentication.js";

  import Notification from "../components/layout/Notification.svelte";
  import NotificationType from "../type/NotificationType.js";

  let username;
  let email;
  let password;

  let success = false;
  let errorMessages = [];

  onMount(() => {
    if ($user) $goto("/");
  });

  const handleSubmit = async () => {
    if (!$user) {
      try {
        await register(username, email, password);
        success = true;
        setTimeout(() => {
          $goto("/login");
        }, 5000);
      } catch (error) {
        errorMessages = error.data;
      }
    }
  };
</script>

<div class="container mx-auto h-screen mt-6 md:mt-24">
  <div class="max-w-md mx-auto flex bg-white rounded shadow-sm overflow-hidden">
    <div class="w-full p-8">
      {#if success}
        <Notification
          type={NotificationType.SUCCESS}
          description="You have been successfully registered. You will be
          redirected in a few seconds." />
      {:else if errorMessages.length != 0}
        <Notification
          type={NotificationType.ERROR}
          description={errorMessages} />
      {/if}
      <form on:submit|preventDefault={handleSubmit} novalidate>
        <h1 class="text-2xl text-gray-800 tracking-normal font-bold">
          Sign up
        </h1>
        <div class="mb-4 mt-6">
          <label class="form-label" for="username">Username</label>
          <input
            class="form-input"
            id="username"
            type="text"
            bind:value={username}
            placeholder="Enter your username" />
        </div>
        <div class="mb-4 mt-6">
          <label class="form-label" for="username">Email</label>
          <input
            class="form-input"
            id="email"
            type="text"
            bind:value={email}
            placeholder="Enter your email" />
        </div>
        <div class="mb-6 mt-6">
          <label class="form-label" for="password">Password</label>
          <input
            class="form-input"
            id="password"
            type="password"
            bind:value={password}
            placeholder="Enter your password" />
        </div>
        <div class="flex w-full mt-8">
          <button
            class="form-submit"
            type="submit"
            disabled={!username || !email || !password}>
            Sign up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
