<script>
  import { onMount } from "svelte";
  import { url, goto } from "@sveltech/routify";
  import { user, api } from "../stores/authentication.js";

  import moment from "moment";
  import pluralize from "pluralize";

  export let item, unique;

  const { id, slug } = unique;

  const {
    title,
    content,
    likes,
    comment_count: comments,
    user: author = "Unkwnon",
    createdAt = "Unknown",
    tags
  } = item;

  let voted = false;
  let votes = likes || 0;
  let views = 0;

  onMount(async () => {
    checkHasVoted();
    getViewCount();
  });

  const checkHasVoted = async () => {
    if ($user) {
      try {
        const response = await api({
          method: "GET",
          url: `/posts/${id}/${slug}/vote`
        });
        voted = await response.data.liked;
      } catch (error) {
        console.log(error.response.data.message);
      }
    }
  };

  const getViewCount = async () => {
    try {
      const response = await api({
        method: "GET",
        url: `/posts/${id}/views`
      });
      views = await response.data.count;
    } catch (error) {
      console.log(error.response.data.messsage);
    }
  };

  const vote = async state => {
    if ($user) {
      try {
        const response = await api({
          method: "POST",
          url: `/posts/${id}/${slug}/vote`
        });

        if (response.status === 201) {
          voted ? votes-- : votes++;
          voted = !voted;
        }
      } catch (error) {
        console.error(error);
      }
    } else {
      $goto("/login");
    }
  };
</script>

<style>
  .voted {
    @apply text-green-400;
  }
</style>

<div class="w-full px-8 py-8 my-6 bg-white rounded shadow-sm">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex flex-row items-center">
      <a
        class="flex flex-row items-center"
        href={$url('/users/:username', { username: author.username })}>
        <img
          class="mx-2 w-5 h-5 object-cover rounded-full hidden sm:block"
          src="/images/avatar.svg"
          alt="avatar" />
        <h1 class="text-xs uppercase tracking-normal text-gray-700 font-bold">
          {author.username}
        </h1>
        <span class="font-semibold text-gray-600 text-xs mx-2">·</span>
        <span
          class="font-light text-gray-600 text-xs uppercase tracking-normal">
          {moment(createdAt, 'YYYY/MM/DD HH:mm').fromNow()}
        </span>
        <span class="font-semibold text-gray-600 text-xs mx-2">·</span>
        <span
          class="font-light text-gray-600 text-xs uppercase tracking-normal">
          {views} views
        </span>
      </a>
    </div>
    <div class="flex lg:ml-3 mt-4 sm:mt-0">
      {#each tags as tag}
        <div
          class="flex justify-start items-center cursor-pointer text-xs
          text-gray-700 hover:text-white bg-gray-200 hover:bg-gray-700
          rounded-md mr-2 sm:mr-0 sm:ml-3 px-2 py-1">
          <span class="bg-gray-600 h-2 w-2 rounded-full" />
          <a
            class="font-medium tracking-normal pl-2 pr-1"
            href={$url('/tags/:slug', { slug: tag.slug })}>
            {tag.slug}
          </a>
        </div>
      {/each}
    </div>
  </div>
  <div class="mt-6 mx-2">
    <div>
      <a
        class="text-lg text-gray-700 font-bold hover:text-gray-600"
        href={$url('/posts/:id/:slug', { id, slug })}>
        {title}
      </a>
      <div class="mt-3 text-md text-gray-600 truncate h-8">
        {@html content}
      </div>
    </div>
    <div class="flex flex-row justify-between items-center mt-8">
      <div class="inline-flex items-center">
        <button
          class="flex flex-row items-center mr-3 focus:outline-none"
          on:click|preventDefault={() => vote()}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-5 h-5 text-gray-700"
            class:voted={$user && voted}>
            <path
              d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2
              0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3" />
          </svg>
          {#if $user && voted}
            <p class="ml-2 text-sm text-gray-700" class:voted>Liked</p>
          {/if}
        </button>
      </div>
      <div class="inline-flex items-center">
        <p
          class="text-sm text-gray-700 uppercase font-semibold tracking-normal
          hover:text-gray-600">
          {votes} {pluralize('like', likes)}
        </p>
        <p
          class="text-sm text-gray-700 uppercase font-semibold tracking-normal
          ml-3">
          {comments} {pluralize('comment', comments)}
        </p>
      </div>
    </div>
  </div>
</div>
