<script>
  import { onMount, createEventDispatcher } from "svelte";
  import { user, api } from "../stores/authentication.js";
  import { goto } from "@sveltech/routify";

  import moment from "moment";
  import pluralize from "pluralize";

  export let comment;

  const {
    id,
    parentId,
    user: author,
    body,
    comments,
    likes,
    createdAt,
    deleted
  } = comment;

  const dispatch = createEventDispatcher();

  let voted = false;
  let votes = likes || 0;

  onMount(async () => {
    if ($user) {
      try {
        const response = await api({
          method: "GET",
          url: `/comments/${id}/vote`
        });
        voted = await response.data.liked;
      } catch (error) {
        console.log(error.response.data.message);
      }
    }
  });

  const dispatchReplyEvent = () => {
    dispatch("reply", {
      id: parentId ? parentId : id,
      user: author.username
    });
  };

  const vote = async state => {
    if ($user) {
      try {
        const response = await api({
          method: "POST",
          url: `/comments/${id}/vote`
        });

        if (response.status === 201) {
          voted ? votes-- : votes++;
          voted = !voted;
        }
      } catch (error) {
        console.error(error);
      }
    } else {
      $goto("/login");
    }
  };
</script>

<style>
  .voted {
    @apply text-green-400;
  }
</style>

{#if !deleted}
  <div class="flex">
    <div class="px-2 pt-2 flex-grow">
      <header class="inline-flex items-center">
        <div class="w-10 mr-2">
          <img
            class="p-2 rounded rounded-full"
            src="/images/avatar.svg"
            alt="Avatar" />
        </div>
        <a href="#/" class="text-sm no-underline">
          <span class="font-medium text-gray-800">{author.username}</span>
        </a>
        <span class="mx-1">·</span>
        <span class="text-sm text-gray-600">
          {moment(createdAt, 'YYYY/MM/DD HH:mm').fromNow()}
        </span>
      </header>
      <div class="ml-2">
        <article class="pb-4 pt-1 text-gray-700 text-base">{body}</article>
        <footer
          class="border-t pt-1 text-sm flex flex-row justify-between
          items-center">
          <div>
            <div
              class="inline-flex items-center text-sm no-underline mr-4 my-2">
              <button
                class="flex flex-row items-center focus:outline-none"
                on:click|preventDefault={() => vote()}>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="text-gray-700 h-4 w-4 mr-1"
                  class:voted={$user && voted}>
                  <path
                    d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0
                    2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0
                    0 1 2-2h3" />
                </svg>
                <span
                  class="text-xs text-gray-700 uppercase font-medium
                  tracking-normal"
                  class:voted={$user && voted}>
                  Like
                </span>
              </button>
            </div>
            <div
              class="inline-flex items-center text-sm no-underline mr-4 my-2">
              <button
                class="flex flex-row items-center focus:outline-none"
                on:click={dispatchReplyEvent}>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="text-gray-700 h-4 w-4 mr-1">
                  <path
                    d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7
                    8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8
                    8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0
                    0 1 8 8v.5z" />
                </svg>
                <span
                  class="text-xs text-gray-700 uppercase font-medium
                  tracking-normal">
                  Reply
                </span>
              </button>
            </div>
          </div>
          <div class="inline-flex items-center">
            <p
              class="text-xs text-gray-700 uppercase font-medium
              tracking-normalmr-2">
              {votes} {pluralize('like', likes)}
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <div class="replies ml-16 my-6 border-l">
    {#each comments as child (child.id)}
      <svelte:self on:reply comment={child} />
    {/each}
  </div>
{:else}
  <div class="flex">
    <div class="px-2 pt-2 flex-grow">
      <header class="inline-flex items-center">
        <div class="w-10 mr-2">
          <img
            class="p-2 rounded rounded-full"
            src="/images/avatar.svg"
            alt="Avatar" />
        </div>
        <a href="#/" class="text-sm no-underline">
          <span class="font-medium text-gray-800">{author.username}</span>
        </a>
        <span class="mx-1">·</span>
        <span class="text-sm text-gray-600">
          {moment(createdAt, 'YYYY/MM/DD HH:mm').fromNow()}
        </span>
      </header>
      <div class="ml-2">
        <article class="pb-4 pt-1 text-gray-700 text-base">
          This comment has been deleted.
        </article>
      </div>
    </div>
  </div>
{/if}
