<script>
  import NotificationType from "../../type/NotificationType.js";

  export let type;
  export let description;
</script>

<div
  class="rounded bg-gray-100 text-gray-700 mx-auto mb-8 p-4 notification-box
  flex">
  <div class="pr-2">
    {#if type === NotificationType.SUCCESS}
      <svg
        class="fill-current text-green-600"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="22"
        height="22">
        <path
          class="heroicon-ui"
          d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0
          0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1
          1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1
          0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
    {:else if type === NotificationType.ERROR}
      <svg
        class="fill-current text-orange-600"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24">
        <path
          class="heroicon-ui"
          d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0
          0 0-16zm0 9a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1zm0 4a1 1 0 1
          1 0-2 1 1 0 0 1 0 2z" />
      </svg>
    {/if}
  </div>
  <div>
    {#if Array.isArray(description)}
      {#each description as single}
        <div class="text-sm text-gray-600 tracking-tight ">{single}</div>
      {/each}
    {:else}
      <div class="text-sm text-gray-600 tracking-tight ">{description}</div>
    {/if}
  </div>
</div>
