<script>
  // Adapted from https://github.com/agustinl/svelte-tags-input

  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  let tag;
  let matchesFound = [];

  export let tags;
  export let addKeys;
  export let maxTags;
  export let onlyUnique;
  export let removeKeys;
  export let placeholder;
  export let autoComplete;

  $: tags = tags || [];
  $: addKeys = addKeys || false;
  $: maxTags = maxTags || false;
  $: onlyUnique = onlyUnique || false;
  $: removeKeys = removeKeys || false;
  $: placeholder = placeholder || "";
  $: autoComplete = autoComplete || false;

  function setTag(event) {
    const currentTag = event.target.value;

    if (event.keyCode === 13) {
      add(currentTag);
    }

    if (event.keyCode === 8 && tag == "") {
      tags.pop();
      tags = tags;

      dispatch("tags", {
        tags: tags
      });
    }

    if (addKeys) {
      addKeys.forEach(function(key) {
        if (key === event.keyCode) {
          switch (event.keyCode) {
            case 188:
              // Remove comma if keycode to add tag is comma
              add(currentTag.substring(0, currentTag.length - 1));
              break;
            case 9:
              event.preventDefault();
              add(currentTag);
              break;
            default:
              add(currentTag);
              break;
          }
        }
      });
    }

    if (removeKeys) {
      removeKeys.forEach(function(key) {
        if (key === event.keyCode) {
          tags.pop();
          tags = tags;
          tag = "";

          dispatch("tags", {
            tags: tags
          });
        }
      });
    }
  }

  function add(currentTag) {
    currentTag = currentTag.trim();

    if (currentTag == "") return;
    if (maxTags && tags.length == maxTags) return;

    if (onlyUnique) {
      if (tags.includes(currentTag)) return;
    }

    tags.push(currentTag);
    tags = tags;
    tag = "";

    dispatch("tags", {
      tags: tags
    });
  }

  function remove(i) {
    tags.splice(i, 1);
    tags = tags;

    dispatch("tags", {
      tags: tags
    });
  }

  function findMatches(e) {
    if (!autoComplete) return;

    const x = e.target.value;

    if (x == "") {
      matchesFound = [];
      return;
    }

    const found = autoComplete.filter(e =>
      e.toLowerCase().includes(x.toLowerCase())
    );

    matchesFound = found;
  }
</script>

<style>
  .tag-input-layout {
    @apply flex items-center w-full text-sm bg-gray-100 appearance-none rounded text-gray-700 pl-2 leading-tight;
  }

  .tag-input {
    @apply flex flex-1 m-0 border-none bg-transparent text-gray-700 my-2;
  }

  .tag-input-layout:focus,
  .tag-input-layout:hover,
  .tag-input:focus {
    @apply outline-none;
  }

  .tag-input-found {
    margin: 3px 0;
    padding: 0px;
    border: solid 1px #ccc;
    border-radius: 2px;
    max-height: 310px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .tag-input-found li {
    list-style: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
  }

  .tag-input-found li:hover {
    background: #000;
    color: #fff;
  }
</style>

<div class="tag-input-layout">
  {#if tags.length > 0}
    {#each tags as tag, i}
      <span
        class="flex items-center cursor-pointer text-xs text-gray-100
        bg-gray-700 rounded-md mr-2 px-2 py-1">
        <span class="bg-gray-600 h-2 w-2 rounded-full" />
        <span class="px-2">{tag}</span>
        <span on:click={() => remove(i)}>×</span>
      </span>
    {/each}
  {/if}
  <input
    class="tag-input"
    type="text"
    bind:value={tag}
    on:keydown={setTag}
    on:keyup={findMatches}
    {placeholder} />

</div>

{#if autoComplete && matchesFound.length > 0}
  <ul class="tag-input-found">
    {#each matchesFound as match, i}
      <li value="match" on:click={() => add(match)}>{match}</li>
    {/each}
  </ul>
{/if}
