<script>
  import { onMount } from "svelte";
  import { ready, goto } from "@sveltech/routify";
  import { user, identifier, api } from "../../stores/authentication.js";

  import Quill from "quill";
  import slugify from "slugify";

  import DOMPurify from "dompurify";
  import stringSanitizer from "string-sanitizer";

  import Tags from "../../components/layout/Tags.svelte";
  import Notification from "../../components/layout/Notification.svelte";
  import NotificationType from "../../type/NotificationType.js";

  $: editor = null;

  let title;
  let category;
  let body;
  let tags = [];

  let errorMessage;

  const toolbarOptions = [
    [{ size: ["small", false, "large", "huge"] }],

    [{ header: 1 }, { header: 2 }],

    ["bold", "italic", "underline", "strike"],
    ["blockquote", "code-block"],

    [{ align: [] }],

    [{ list: "ordered" }, { list: "bullet" }],
    [{ indent: "-1" }, { indent: "+1" }],

    ["link", "image"],

    ["clean"]
  ];

  onMount(() => {
    if (!$user) {
      $goto("/login");
    }

    editor = new Quill("#quillArea", {
      modules: {
        toolbar: toolbarOptions
      },
      placeholder: "Type something...",
      theme: "snow"
    });

    $ready();
  });

  const getCategories = async () => {
    const response = await api({
      method: "GET",
      url: `/categories`
    });

    return await response.data;
  };

  const handleTagAddedEvent = event => {
    tags = event.detail.tags.map(tag => ({ slug: tag }));
  };

  const handleSubmit = async () => {
    if ($user) {
      try {
        const response = await api({
          method: "POST",
          url: `/posts`,
          data: {
            title: stringSanitizer.sanitize.keepSpace(title),
            slug: slugify(title, {
              lower: true,
              strict: true
            }),
            content: DOMPurify.sanitize(editor.root.innerHTML),
            categoryId: category,
            userId: $identifier.id,
            tags
          }
        });

        $goto("/");
      } catch (error) {
        errorMessage = error.response.data.errors
          ? error.response.data.errors
          : error.response;
      }
    }
  };
</script>

<style>
  :global(.ql-toolbar.ql-snow, .ql-container.ql-snow) {
    @apply border border-gray-300;
  }

  .form-label {
    @apply block text-gray-700 text-sm font-semibold tracking-normal mr-3;
  }

  .form-input {
    @apply text-sm bg-gray-100 appearance-none rounded
            py-2 px-3 text-gray-700 leading-tight
            h-10;
  }
</style>

<svelte:head>
  <title>Create a new post</title>
</svelte:head>

<div class="container mx-auto h-screen mt-6 md:mt-24">
  <div class="max-w-4xl mx-auto bg-white rounded shadow-sm">
    <form class="w-full p-8" on:submit|preventDefault={handleSubmit} novalidate>
      <h1 class="text-2xl text-gray-800 tracking-normal font-bold mb-4">
        Create a new post
      </h1>
      {#if errorMessage}
        <Notification
          type={NotificationType.ERROR}
          description={errorMessage} />
      {/if}
      <div class="flex flex-row mt-6">
        <div class="flex flex-col w-2/3">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-input"
            id="title"
            type="text"
            placeholder="Enter title"
            bind:value={title} />
        </div>
        <div class="flex flex-col w-1/3 ml-3">
          <label class="form-label" for="categories">Categories</label>
          <select class="form-input" id="categories" bind:value={category}>
            {#await getCategories()}
              <option value="" selected disabled>Loading...</option>
            {:then categories}
              <option value="" selected disabled hidden>
                Choose a category
              </option>
              {#each categories as category}
                <option value={category.id}>{category.title}</option>
              {/each}
            {/await}
          </select>
        </div>
      </div>

      <div class="mt-8">
        <div id="quillArea" class="font-sans" />
        <div id="tags">
          <div class="flex flex-col mt-8">
            <label class="form-label" for="title">Tags</label>
            <Tags
              on:tags={handleTagAddedEvent}
              maxTags={3}
              onlyUnique={true}
              addKeys={[9]} />
          </div>
        </div>

        <div class="mt-8">
          <button
            class="form-submit"
            type="submit"
            disabled={!title || !category || editor.editor.isBlank() || tags.length < 1}>
            Post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
