<script>
  import { url, goto, isActive } from "@sveltech/routify";
  import { user, groups } from "../../stores/authentication.js";

  const navigation = [
    ["./index", "Home"],
    ["./categories", "Categories"],
    ["./comments", "Comments"],
    ["./tags", "Tags"]
  ];
</script>

<style>
  .nav-item {
    @apply flex justify-start cursor-pointer text-gray-700 rounded-md px-2 py-2 my-2;
  }

  .nav-item:hover {
    @apply bg-gray-200;
  }

  .nav-item-active {
    @apply flex justify-start cursor-pointer text-gray-700 font-semibold rounded-md px-2 py-2 my-2 bg-gray-200;
  }
</style>

{#if $user && $groups.includes('Admin')}
  <div class="container w-full flex flex-wrap mx-auto px-6 pt-4 lg:pt-8">
    <div class="w-full lg:w-1/4 text-sm text-gray-800 pr-10 leading-normal">
      <p
        class="text-sm font-bold mt-0 mb-6 text-gray-700 uppercase
        tracking-wider">
        MODERATE
      </p>
      <div
        class="w-full sticky inset-0 lg:block my-6 z-20 flex flex-row flex-wrap"
        style="top:6rem;"
        id="menu-content">
        {#each navigation as [path, title]}
          <a
            class="nav-item"
            href={$url(path)}
            class:nav-item-active={$isActive(path)}>
            <p class="tracking-normal px-2">{title}</p>
          </a>
        {/each}
      </div>
    </div>
    <section class="w-full lg:w-3/4 bg-white rounded shadow-sm">
      <slot />
    </section>
  </div>
{:else}{$goto('/login')}{/if}
