<script>
  import { onMount, createEventDispatcher } from "svelte";

  import Spinner from "../../components/layout/Spinner.svelte";

  export let response;

  const dispatch = createEventDispatcher();

  $: items = response || [];
  $: columns = new Set();
  $: rows = [];

  onMount(() => {
    columns = new Set(items.map(item => Object.keys(item)).flat());
    rows = items.map(category => Object.values(category));
  });

  const deleteItem = async id => {
    items = items.filter(category => category.id !== id);
    rows = items.map(category => Object.values(category));
    dispatch("delete", id);
  };
</script>

<div class="flex items-center justify-center">
  <div class="container px-8 py-8">
    <table
      class="w-full sm:bg-white rounded-sm overflow-hidden sm:shadow-sm text-sm">
      <thead class="bg-gray-800 text-gray-300">
        {#each [...columns] as column}
          <th class="px-3 py-2 text-left">{column}</th>
        {/each}
        <th class="px-3 py-2 text-left">Actions</th>
      </thead>
      <tbody class="flex-1 sm:flex-none">
        {#each rows as row (row[0])}
          <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
            {#each row as tuple}
              <td class="border-grey-light border hover:bg-gray-100 p-3">
                {tuple}
              </td>
            {/each}
            <td
              class="border-grey-light border hover:bg-gray-100 p-3 text-red-400
              hover:text-red-600 hover:font-medium cursor-pointer"
              on:click={() => deleteItem(row[0])}>
              Delete
            </td>
          </tr>
        {:else}
          {#if items.length === 0}
            <tr class="flex flex-col flex-no wrap p-3">
              <td>No items.</td>
            </tr>
          {:else}
            <div class="w-full flex justify-center mt-10">
              <Spinner />
            </div>
          {/if}
        {/each}
      </tbody>
    </table>
  </div>
</div>
