<script>

</script>

<div class="px-8 py-8">
  <div class="mb-4">
    <p class="text-sm text-gray-700 uppercase font-medium tracking-normal">
      Welcome
    </p>
  </div>
  <div class="text-sm text-gray-700 mb-2">
    <p>This is the administrator page.</p>
    <p>
      To moderate different contents of the blog please refer to the
      <strong>sidebar</strong>
      on the left.
    </p>
  </div>
  <div class="text-sm text-gray-700 mb-2">
    <p>This admin is able to moderate categories, comments, and tags.</p>
  </div>
  <div class="text-sm text-gray-700 mb-2">
    <p>
      Considering the categories, the admin is able to create and delete them.
    </p>
    <p>
      Considering the comments and tags, the admin is able to delete them. Tags
      are only available for deletion since they are implicitly created when the
      post is created.
    </p>
  </div>
</div>
