<script>
  import { api } from "../../../stores/authentication.js";

  import Table from "../_table.svelte";

  const getTags = async () => {
    const response = await api({
      method: "GET",
      url: `/tags`
    });
    return await response.data;
  };

  const deleteTag = async event => {
    const response = await api({
      method: "DELETE",
      url: `/tags/${event.detail}`
    });
  };
</script>

{#await getTags() then tags}
  <Table on:delete={deleteTag} response={tags} />
{/await}
