<script>
  import { api } from "../../../stores/authentication.js";

  import Table from "../_table.svelte";

  const getComments = async () => {
    const response = await api({
      method: "GET",
      url: `/comments`
    });
    return await response.data;
  };

  const deleteComment = async event => {
    const response = await api({
      method: "DELETE",
      url: `/comments/${event.detail}`
    });
  };
</script>

<style>

</style>

{#await getComments() then posts}
  <Table on:delete={deleteComment} response={posts} />
{/await}
