<script>
  import { api } from "../../../stores/authentication.js";

  import Table from "../_table.svelte";

  const getCategories = async () => {
    const response = await api({
      method: "GET",
      url: `/categories`
    });
    return await response.data;
  };

  const deleteCategory = async event => {
    const response = await api({
      method: "DELETE",
      url: `/categories/${event.detail}`
    });
  };
</script>

<style>

</style>

{#await getCategories() then posts}
  <Table on:delete={deleteCategory} response={posts} />
{/await}
