<script>
  export let title;
  let dropdownOpen = false;
</script>

<div class="relative">
  <button
    on:click={() => (dropdownOpen = !dropdownOpen)}
    class="flex flex-row items-center px-4 py-2 mt-2 text-sm font-medium rounded
    sm:inline-flex sm:mt-0 ml-4 text-white bg-gray-800 focus:outline-none">
    <span class="tracking-normal">{title}</span>
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      class="inline-flex w-4 h-4 ml-1 transition-transform duration-200
      transform {dropdownOpen ? 'rotate-180' : 'rotate-0'}">
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414
        1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd" />
    </svg>
  </button>
  <div
    class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg
    sm:w-48 {dropdownOpen ? 'visible' : 'invisible'}">
    <div class="px-2 py-2 bg-white rounded-md shadow-xs">
      <slot />
    </div>
  </div>
</div>
