<script>
  export let title;
  export let event;
</script>

<span
  class="flex px-4 py-2 font-regular text-gray-700 tracking-normal text-sm
  bg-transparent rounded hover:text-gray-900 focus:text-gray-900
  hover:bg-gray-200 focus:bg-gray-200 focus:outline-none"
  on:click={event}>
  {title}
</span>
