<script>
  export let title = "";
  export let url = "/";
</script>

<style>
  .nav-link {
    @apply inline-flex items-center px-4 py-2 mt-2 text-xs font-semibold uppercase bg-gray-800 text-white rounded;
  }

  .nav-link:hover {
    @apply text-gray-200 bg-gray-700;
  }

  @screen sm {
    .nav-link {
      @apply mt-0 ml-4;
    }

    .nav-link .active {
      @apply mt-0;
    }
  }
</style>

<a class="nav-link" href={url}>{title}</a>
