<script>
  export let title = "";
  export let url = "/";
  export let active = false;
</script>

<style>
  .nav-link {
    @apply px-4 py-2 mt-2 text-sm text-gray-600 font-medium bg-transparent rounded;
  }

  .active {
    @apply text-white bg-gray-800;
  }

  .active:focus {
    @apply outline-none;
  }

  .nav-link:hover {
    @apply text-white bg-gray-800;
  }

  @screen sm {
    .nav-link {
      @apply mt-0 ml-4;
    }

    .nav-link .active {
      @apply mt-0;
    }
  }
</style>

<a class="nav-link" class:active href={url}>{title}</a>
