<script>
  import { url } from "@sveltech/routify";
  export let title = "";
  let navbarOpen = false;
</script>

<div class="w-full text-gray-700 bg-gray-900">
  <div
    class="flex flex-col max-w-screen-xl px-4 py-4 mx-auto sm:items-center
    sm:justify-between sm:flex-row sm:px-6 lg:px-8">
    <div class="flex flex-row items-center justify-between flex-shrink-0">
      <a
        href={$url('/index')}
        class="px-4 py-1 text-lg font-semibold tracking-widest text-white
        uppercase rounded-lg focus:outline-none">
        👨‍💻 {title}
      </a>
      <button
        class="p-2 rounded-lg sm:hidden focus:outline-none"
        on:click={() => (navbarOpen = !navbarOpen)}>
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          {#if navbarOpen}
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414
              1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293
              4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd" />
          {:else}
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0
              011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110
              2h-6a1 1 0 01-1-1z"
              clip-rule="evenodd" />
          {/if}
        </svg>
      </button>
    </div>
    <nav
      class="flex-col flex-grow sm:flex sm:justify-end sm:flex-row {navbarOpen ? 'flex' : 'hidden'}">
      <slot />
    </nav>
  </div>
</div>
